* {
  box-sizing: border-box;
}

body {
  padding: 2%;
}

.relative {
  height: 500px;
  position: relative;
  background: black;
}

.main-photo {
  height: 300px;
  position: absolute;
  bottom: 0%;
  right: 25%;
  border-radius: 50%;
  animation: santa-walk 3s 0.3s alternate-reverse infinite;
}

.animation-photo {
  height: 1px;
  position: absolute;
  top: 0;
  left: 50%;
  border-radius: 50%;
  animation: snow 3s 0.1s alternate-reverse infinite;
}

.animation-photo1 {
  animation: snow1 3s 0.2s infinite;
}

.animation-photo2 {
  animation: snow2 3s 0.3s alternate-reverse infinite;
}

.animation-photo3 {
  animation: snow3 3s 0.4s infinite;
}

.animation-photo4 {
  animation: snow4 3s 0.5s alternate-reverse infinite;
}

@keyframes santa-walk {
  0% {
    height: 300px;
    left: 30%;
    bottom: 0;
  }

  30% {
    height: 300px;
    left: 35%;
    bottom: 0;
  }

  70% {
    height: 300px;
    left: 40%;
    bottom: 0;
  }

  100% {
    height: 300px;
    left: 43%;
    bottom: 0;
  }
}

@keyframes snow {
  0% {
    height: 1px;
    left: 40%;
    top: 0;
  }

  8% {
    height: 12px;
    left: 40%;
    top: 4%;
  }

  20% {
    height: 20px;
    left: 40%x;
    top: 8%;
  }

  40% {
    height: 32px;
    left: 40%;
    top: 20%;
  }

  60% {
    height: 40px;
    left: 40%x;
    top: 35%;
  }

  70% {
    height: 52px;
    left: 40%x;
    top: 60%;
  }

  85% {
    height: 56px;
    left: 40%;
    top: 75%;
  }

  100% {
    height: 60px;
    left: 40%;
    top: 99%;
  }
}

@keyframes snow1 {
  0% {
    height: 1px;
    left: 45%;
    top: 0;
  }

  8% {
    height: 12px;
    left: 45%;
    top: 4%;
  }

  20% {
    height: 20px;
    left: 45%;
    top: 8%;
  }

  40% {
    height: 32px;
    left: 45%;
    top: 20%;
  }

  60% {
    height: 40px;
    left: 45%;
    top: 35%;
  }

  70% {
    height: 52px;
    left: 45%;
    top: 60%;
  }

  85% {
    height: 56px;
    left: 45%;
    top: 75%;
  }

  100% {
    height: 60px;
    left: 45%;
    top: 99%;
  }
}

@keyframes snow2 {
  0% {
    height: 1px;
    left: 50%;
    top: 0;
  }

  8% {
    height: 12px;
    left: 50%;
    top: 4%;
  }

  20% {
    height: 20px;
    left: 50%;
    top: 8%;
  }

  40% {
    height: 32px;
    left: 50%;
    top: 20%;
  }

  60% {
    height: 40px;
    left: 50%;
    top: 35%;
  }

  70% {
    height: 52px;
    left: 50%;
    top: 60%;
  }

  85% {
    height: 56px;
    left: 50%;
    top: 75%;
  }

  100% {
    height: 60px;
    left: 50%;
    top: 99%;
  }
}
@keyframes snow3 {
  0% {
    height: 1px;
    left: 55%;
    top: 0;
  }

  8% {
    height: 12px;
    left: 55%;
    top: 4%;
  }

  20% {
    height: 20px;
    left: 55%;
    top: 8%;
  }

  40% {
    height: 32px;
    left: 55%;
    top: 20%;
  }

  60% {
    height: 40px;
    left: 55%;
    top: 35%;
  }

  70% {
    height: 52px;
    left: 55%;
    top: 60%;
  }

  85% {
    height: 56px;
    left: 55%;
    top: 75%;
  }

  100% {
    height: 60px;
    left: 55%;
    top: 99%;
  }
}

@keyframes snow4 {
  0% {
    height: 1px;
    left: 57%;
    top: 0;
  }

  8% {
    height: 12px;
    left: 57%;
    top: 4%;
  }

  20% {
    height: 20px;
    left: 57%;
    top: 8%;
  }

  40% {
    height: 32px;
    left: 57%;
    top: 20%;
  }

  60% {
    height: 40px;
    left: 57%;
    top: 35%;
  }

  70% {
    height: 52px;
    left: 57%;
    top: 60%;
  }

  85% {
    height: 56px;
    left: 57%;
    top: 75%;
  }

  100% {
    height: 60px;
    left: 57%;
    top: 99%;
  }
}
